<div class="spacer"></div>
<div class="container">
    <h2>customers works!</h2>
    <br>
    <h3>toevoegen</h3>
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="name">Name*</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="address">address*</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">Address is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="zipcode">zipcode*</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" formControlName="zipcode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" />
                            <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                                <div *ngIf="f.zipcode.errors.required">Zipcode is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="city">city*</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors.required">City is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                    <!-- <a routerLink="/customers" class="btn btn-link">Cancel</a> -->
                </div>
            </form>
        </div>
    </div>

    <hr>

    <h3>customers</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>address</th>
                        <th>zipcode</th>
                        <th>city</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers">
                        <th>{{customer.id}}</th>
                        <td>{{customer.name}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.zipcode}}</td>
                        <td>{{customer.city}}</td>
                        <td><a class="btn icon-container" type="button" (click)="onDelete(customer.id)"><fa-icon class="trash-icon" [icon]="trashIcon"></fa-icon></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>