<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="logo col-md-2 col-sm-3 col-xs-10">
      <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
      <span>Welcome</span>
  </div>
  <div class="navigation col-md-10 col-sm-9 col-xs-2" id="regular_menu">
      <a href="/company/" class="btn btn-light">Home</a>
      <a href="/company/customers" class="btn btn-light">Customers</a>
      <a href="/company/products" class="btn btn-light">Products</a>
      <a href="/company/productcategories" class="btn btn-light">Product categories</a>
      <a href="/company/invoices" class="btn btn-light">Invoices</a>
      
      <div class="dropdown profile_bar">
        <a href="/profile" class="dropbtn btn btn-light"><fa-icon [icon]="userIcon"></fa-icon> {{username}}</a>
        <div class="dropdown-content">
          <a href="/company/profile" class="btn btn-light">Profile</a>
          <a href="/company/company" class="btn btn-light">company</a>
          <a href="/login" class="btn btn-light">Logout</a>
        </div>
      </div>
  </div>


  <div class="navigation col-md-10 col-sm-9 col-xs-2" id="hamburger_menu">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a href="/company/">Home</a>
      <a href="/company/customers">Customers</a>
      <a href="/company/products">Products</a>
      <a href="/company/productcategories">Product categories</a>
      <a href="/company/invoices">Invoices</a>
      
      <div class="dropdown">
        <a href="/profile" class="dropbtn"><fa-icon [icon]="userIcon"></fa-icon> {{username}}</a>
        <div class="dropdown-content">
          <a href="/company/profile">Profile</a>
          <a href="/company/company">company</a>
          <a href="/login">Logout</a>
        </div>
      </div>
    </div>

    <div class="profile_bar">
      <!-- Use any element to open the sidenav -->
      <span (click)="openNav()">&#9776;</span>
    </div>
</div>


</div>
<div class="container">
  <router-outlet>
  </router-outlet>
</div>
 